{% extends 'Inputs/layout.html'%}
{% block content %}
<br>

<div class="instructions">
    <h2>Instructions:</h2>
    <ol>
        <li>Ensure that you have a <a href="{% url 'login'%}">login</a> for access to the tool, if not then please register <a href="{% url 'register' %}"> here</a>.</li>
        <li>Select the Criteria under Test for Visual Inspection using the drop-down list.</li>
        <li>Upload CCD file to be visually inspected. <em>(Tool only accepts .XML)</em></li>
        <li>Submit Form to see results for Visual Inspection.</li>
    </ol>
</div>



{% endblock %}