<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Visual Inspection Tool</title>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
            th, td {
            padding: 5px;
            }
            th {
            text-align: left;
            }
            </style>
    </head>
    <body>
        <h1 style="text-align: center;">Visual Inspection Tool</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>