{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Visual Inspection Tool</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar">
                <img class="logo" src="{% static 'images/dglogo.png' %}">
                <ul>
                    <li><a class="active" href="{% url 'inputs' %}">Home</a></li>
                    <li><a href="{% url 'instructions' %}">How It Works</a></li>
                    <!-- <li><a href="{% url 'guides' %}">Inspection Guides</a></li> -->
                </ul>
                {% if user.is_authenticated %}
                <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>   
                <span class="hello-msg">Hello, {{ request.user }}</span>
                {% endif %}
            </nav>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>